<%= render partial: 'layouts/mainnav'%>
<%= render partial: 'forms/new' %>
<div class="slider fullscreen">

   <ul class="slides">
     <li>
       <%= image_tag("book1.jpg", alt: "book1", class: "project-opacity responsive-img") %>
       <div class="caption center-align">
         <h3>Launch soon at Amazon Book store on November 2016</h3>
         <h6 class="light grey-text text-lighten-3">This book deal with the issues and mechanics of startup new ventures<br>
            includes analytical processes, technology strategy, and financing sources and strategy planning.
         </h6>
       </div>
     </li>
     <li>
       <%= image_tag("kardoesie.jpg", alt: "kardoesie", class: "project-opacity responsive-img") %>
       <div class="caption left-align">
         <h3>The Startup Online shopping business</h3>
         <h5 class="light grey-text text-lighten-3">Owner: Blom's Family</h5>
         <h4><a href="http://kardoesie.nl" target="_blank">Website Link</a></h4>
       </div>
     </li>
     <li>
       <%= image_tag("netstarted.jpg", alt: "netstarted", class: "project-opacity responsive-img") %>
       <div class="caption right-align">
         <h3>The solutions for Startup Company</h3>
         <h5 class="light grey-text text-lighten-3">We design, develop, and launch your idea by: Netstarted Team</h5>
         <h4><a href="http://netstarted.com" target="_blank">Website Link</a></h4>
       </div>
     </li>
     <li>
      <%= image_tag("12restaurants.jpg", alt: "12restaurants", class: "project-opacity responsive-img") %>
       <div class="caption left-align">
         <h3>The solutions for empty table</h3>
         <h5 class="light grey-text text-lighten-3">Now nothing is impossible to get your customer to fill your empty table</h5>
         <h4><a href="http://12restaurants.com" target="_blank">Website Link</a></h4>
       </div>
     </li>
     <li>
      <%= image_tag("blog.jpg", alt: "blog", class: "project-opacity responsive-img") %>
       <div class="caption left-align">
         <h3>Florence city blogging</h3>
         <h5 class="light grey-text text-lighten-3">My First blog created using Ruby on Rails</h5>
         <h4><a href="http://florenceblogapp.herokuapp.com" target="_blank">Website Link</a></h4>
       </div>
     </li>
   </ul>
   <%= render partial: 'layouts/emailwrite' %>
 </div>
