<%= render partial: 'forms/new' %>
<div id="hiddenmenu" class="container">
  <%= render partial: "layouts/shownav" %>
</div>
<div id="header">
  <div class="project-image">
    <div class="col s12 m10 offset-m1 l6 ">
      <div class="center valign-wrapper">
        <div class="row">
            <div class="col s12 m2">
              <img alt="mytag" class="circle responsive-img" src="/assets/rjay-9d38e57c95780bf80ad777c9ee485acc5272ef10943ab9a7a2a2b8edc5346b98.jpg" />
                <blockquote class="white-text">
                  Leadership is the capacity to translate in to a reality
                </blockquote>
            </div>
            <div class="col s12 m10 about-me card-panel">
                <blockquote class="black-text">
                  <p class="mytagname"><b>Ryan Jeff Brual, MBA, COBIT 5</b></p>
                  Professor / Ruby on Rails Web Developer
                  <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                  <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/ryanjeffbrual" data-format="hover" data-related="false" data-text="LinkedIn Profile">
                  </script>
                </blockquote>
                <span class="black-text">
                  Now you found me at my personal website, allow me to introduce myself my name is Ryan Jeff and you can call me<br>
                  RJ so you can combine my name as one variable. So what is all about me? I am like a method on programming<br>
                  language that you can define. hmmmm.. it is like programming huh? but yes you are correct.<br>
                  <br>
                </span>
              <ul class="collapsible dark-blue" data-collapsible="accordion">
                <li class="">
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>
                    <b>Full Bio</b>
                  </div>
                  <div class="collapsible-body" style="display: none;">
                    <p class="black-text">
                      Ok let's make it understandable. I have almost 9 years of IT experience, from being system engineer to leading a team<br>
                      on projects. I graduated with Bachelor degree in Computer Engineering and Master degree of Business Administration<br>
                      with the Diploma of IT Governance and ICT Management. It sound's like I love learning and improving myself And you<br>
                      are correct, I never stop learning until I reach my target goal. Being enthusiastic on learning innovation I finished<br>
                      12 weeks of intensive bootcamp of Full Stack Developer that focuses on Ruby on Rails both Front-End and Back-End.<br>
                      By the way I am 29 year's old, not quite old huh? and again you are correct I am not quite old, but bitting? the<br>
                      target timeline of the calendar. ;)<br>
                      If you were thinking why I have 9 years of IT experience? Because before I graduated for my Bachelor's degree, one of
                      the telecom company hired me as System Engineer because of my personality, I am just kidding -but yes because I performed
                      well during my 3 months internship and they hired me, that was how the story began.<br>
                      For the past couple of year's I studied and gained experience for Network, Server, Architecture of Data Center and Solid
                      Project Management and IT Service Management. But since technologies is always evolving and my goal is to compete to or
                      with other IT skills around the world I am improving my knowledge and skills in programming to adapt the rapid changing
                      environment of technology to be able to compete, and to complete my skills in reaching my top goal. Ups to much
                      information. And now I am focusing on the web development both back-end and front-end with my project management
                      skills and teaching career to help the other to reach there goals.
                    </p>
                  </div>
                </li>
             </ul>
          </div>
        </div>
      </div>
      </div>
  </div>
  </div>
</div>
  <%= render partial: "layouts/shownav" %>
<div class="clear"></div>
<div id="content">
  <div class="wrapper">
    <div class="row margin-row">
      <div class="col s12 m6">
        <h5 class="center">Professional Skills</h5>
        <%= render partial: 'layouts/professionalskills' %>
        <div class="contain center">
          <p>
            Just move your mouse left and right. Play!
          </p>
          <div class="cir0 center">1</div>
          <div class="cir1 center">2</div>
          <div class="cir2 center">3</div>
          <div class="cir3 center">4</div>
          <div class="cir4 center">5</div>
          <div class="cir5 center">6</div>
        </div>
      <!-- For fun -->
      </div>
      <div class="col s12 m6">
        <%= render partial: 'layouts/projectcards' %>
      <!-- End Cards -->
        <%= render partial: 'layouts/emailwrite' %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'layouts/footer' %>
