<%= render partial: 'layouts/message' %>
<div id="hiddenmenu" class="container">
  <%= render partial: "layouts/shownav" %>
</div>
<div id="header">
  <div class="project-image">
    <div class="col s12 m10 offset-m2 l6 ">
  <div class="z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s2">
        <%= image_tag("rjay.jpg", alt: "mytag", class:"circle responsive-img")  %>
          <blockquote class="white-text">
            Leadership is the capacity to translate in to a reality
          </blockquote>
      </div>
      <div class="col s8 about-me card-panel">
          <blockquote class="black-text">
            <p class="mytagname"><b>Ryan Jeff Brual, MBA, COBIT 5</b></p>
            Professor / Ruby on Rails Web Developer
            <%= render partial: 'layouts/linkedin' %>
          </blockquote>
        <span class="black-text">
          Now you found me at my personal website, allow me to introduce myself my name is Ryan Jeff and you can call me<br>
          RJ so you can combine my name as one variable. So what is all about me? I am like a method on programming<br>
          language that you can define. hmmmm.. it is like programming huh? but yes you are correct.<br>
          <br>
        </span>
        <ul class="collapsible dark-blue" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>
              <b>Full Bio</b>
            </div>
            <div class="collapsible-body">
              <p class="black-text">
                Ok let's make it understandable. I have almost 9 years of IT experience, from being system engineer to leading a team<br>
                on projects. I graduated with Bachelor degree in Computer Engineering and Master degree of Business Administration<br>
                with the Diploma of IT Governance and ICT Management. It sound's like I love learning and improving myself And you<br>
                are correct, I never stop learning until I reach my target goal. Being enthusiastic on learning innovation I finished<br>
                12 weeks of intensive bootcamp of Full Stack Developer that focuses on Ruby on Rails both Front-End and Back-End.<br>
                By the way I am 29 year's old, not quite old huh? and again you are correct I am not quite old, but bitting? the<br>
                target timeline of the calendar. ;)<br>
                If you were thinking why I have 9 years of IT experience? Because before I graduated for my Bachelor's degree, one of
                the telecom company hired me as System Engineer because of my personality, I am just kidding -but yes because I performed
                well during my 3 months internship and they hired me, that was how the story began.<br>
                For the past couple of year's I studied and gained experience for Network, Server, Architecture of Data Center and Solid
                Project Management and IT Service Management. But since technologies is always evolving and my goal is to compete to or
                with other IT skills around the world I am improving my knowledge and skills in programming to adapt the rapid changing
                environment of technology to be able to compete, and to complete my skills in reaching my top goal. Ups to much
                information. And now I am focusing on the web development both back-end and front-end with my project management
                skills and teaching career to help the other to reach there goals.
              </p>
            </div>
          </li>
       </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>
  <%= render partial: "layouts/shownav" %>
<div id="content">
  <div class="container">
    <div class="row margin-row">
      <div class="col s12 m6">
        <h5 class="center">Professional Skills</h5>
        <%= render partial: 'layouts/professionalskills' %>
      <div class="fixed-action-btn horizontal" style="bottom: 45px; righ: 24px;">
        <b>Send me a message</b>
        <a class="btn-floating btn-large blue modal-trigger" href="#modal1">
          <i class="large material-icons">mode_edit</i>
        </a>
      </div>
      <!-- For fun -->
      <div class="contain">
        <p>
          Just move your mouse left and right. Play!
        </p>
        <div class="cir0 center">1</div>
        <div class="cir1 center">2</div>
        <div class="cir2 center">3</div>
        <div class="cir3 center">4</div>
        <div class="cir4 center">5</div>
        <div class="cir5 center">6</div>
      </div>
      </div>
      <div class="col s12 m6">
        <h6>Latest Updates..</h6>
        <div class="col s12 m12">
          <div class="card horizontal">
            <div class="card-image">
              <img src="http://lorempixel.com/100/190/nature/6">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m12">
          <div class="card horizontal">
            <div class="card-image">
              <img src="http://lorempixel.com/100/190/nature/6">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m12">
          <div class="card horizontal">
            <div class="card-image">
              <img src="http://lorempixel.com/100/190/nature/6">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Cards -->
      </div>
    </div>
  </div>
</div>
<%= render partial: 'layouts/footer' %>
