<div class="nav-wrapper white">
<!-- <a href="#" data-activates="mobile-demo" class="button-collapse btn-small light-blue darken-3"><i class="material-icons blue">menu</i></a> -->
  <ul class="right hide-on-med-and-down">
    <li>
      <%= link_to 'Main', root_path, class: "btn waves-effect waves-yellow deep-orange darken-1" %>
    </li>
    <li>
      <%= link_to 'Projects', pages_projects_path, class: "btn waves-effect waves-yellow white-text" %>
    </li>
    <li><a class="waves-effect waves-yellow grey-text">Articles</a></li>
    <li><a class="waves-effect waves-yellow grey-text">Learn</a></li>
    <li><a class="waves-effect waves-yellow grey-text">For Sale</a></li>
  </ul>

<ul id="mobile-demo" class="side-nav">
  <li>
    <div class="userView">
      <%= image_tag("banner-nav.jpg", class:"background")  %>
      <%= image_tag("rjay.jpg", class:"circle")  %>
      <span class="white-text name">Ryan Jeff Brual, MBA</span>
    </div>
  </li>
    <li>
      <h6 class="mainquote">&nbsp;&nbsp;&nbsp;It is not just a coding but it is innovating</h6>
    </li>
    <li><div class="divider"></div></li>
    <li>
      <p class="introabout">
        I am a mentor & professor of Master's degree in Business Administration.
        And Fullstack Ruby on Rails Web Developer with almost 9 Years of Information Technology experience.
        <%= link_to pages_show_path, class: "waves-effect waves-teal btn-flat" do %>
          <i class="material-icons right">send</i>More About Me..
        <% end %>
      </p>
    </li>
    <li><div class="divider"></div></li>
    <li>
      <a class="subheader">Menu</a>
    </li>
    <li>
      <%= link_to pages_projects_path, class: "waves-effect waves-teal" do %>
        <i class="small material-icons left">assignment</i>Projects<span class="badge" data-badge-caption="projects">4</span>
      <% end %>
    </li>
    <li><a href="#" class="waves-effect waves-teal"><i class="small material-icons left">mode_edit</i>Articles</a></li>
    <li><a href="#" class="waves-effect waves-teal"><i class="small material-icons left">library_books</i>Learn</a></li>
    <li><a href="#" class="waves-effect waves-teal"><i class="small material-icons left">shop</i>For Sale</a></li>
    <li><div class="divider"></div></li>
</ul>
</div>
<a href="#" data-activates="slide-out" class="btn-floating button-collapse btn-large light-blue darken-3">
  <i class="material-icons">menu</i>
</a>
