<h6>Latest Updates..</h6>
<div class="col s12 offset-m1  m8">
  <div class="card horizontal">
    <div class="card-image">
      <%= image_tag "book1.jpg", alt:"book1"  %>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>
          To publish at Amazon on November 2016.
        </p>
      </div>
      <div class="card-action">
        <%= link_to 'Learn More..', pages_projects_path %>
      </div>
    </div>
  </div>
</div>
<div class="col s12 offset-m1  m8">
  <div class="card horizontal">
    <div class="card-image">
      <%= image_tag "kardoesie2.jpg", alt:"kardoesie"  %>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>
          E-commerce website with CMS admin panel.
        </p>
      </div>
      <div class="card-action">
        <%= link_to 'Learn More..', pages_projects_path %>
      </div>
    </div>
  </div>
</div>
<div class="col s12 offset-m1  m8">
  <div class="card horizontal">
    <div class="card-image">
      <%= image_tag "netstarted.jpg", alt:"netstarted"  %>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>
          Consulting Company that provides software solutions for startup company.
        </p>
      </div>
      <div class="card-action">
        <%= link_to 'Learn More..', pages_projects_path %>
      </div>
    </div>
  </div>
</div>
